@model Zillow.Models.Image

@{
    ViewData["Title"] = "Edit";
}

<div class="bradcam_area bradcam_bg_1">
	<div class="container">
		<div class="row">
			<div class="col-xl-12">
				<div class="bradcam_text text-center">
					<h3>Edit Images</h3>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="sample-text-area">
	<div class="container box_1170">
		<div class="section-top-border">
			<div class="row">
				<div class="col-lg-8 col-md-8">
					<h3 class="mb-30">Update Image</h3>
					<form asp-action="Edit" enctype="multipart/form-data">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<input type="hidden" asp-for="Id" />
						<div class="mt-10">
							<input asp-for="Img" placeholder="Image" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Image'" required="" class="single-input form-control">
							<span asp-validation-for="Img" class="text-danger"></span>
						</div>
						<div class="input-group-icon mt-10">
							<div class="icon"><i class="fa fa-thumb-tack" aria-hidden="true"></i></div>
							<select asp-for="RealEstateId" class="form-control single-input" placeholder="RealEstate" onfocus="this.placeholder = ''" onblur="this.placeholder = 'RealEstate'" required="" asp-items="ViewBag.RealEstateId"></select>
							<span asp-validation-for="RealEstateId" class="text-danger"></span>
						</div>
						<br />
						<input type="submit" value="Save" class="genric-btn primary circle" />
					</form>
					<br />
					<div>
						<a class="genric-btn default-border circle" asp-action="Index">Back to List</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}