@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="bradcam_area bradcam_bg_1">
	<div class="container">
		<div class="row">
			<div class="col-xl-12">
				<div class="bradcam_text text-center">
					<h3>Login</h3>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="sample-text-area">
	<div class="container box_1170">
		<div class="section-top-border">
			<div class="row">
				<div class="col-lg-8 col-md-8">
					<h3 class="mb-30">Log in</h3>
					<form id="account" method="post">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<div class="mt-10">
							<input asp-for="Input.Email" autocomplete="username" aria-required="true" type="text" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" required="" class="single-input form-control">
							<span asp-validation-for="Input.Email" class="text-danger"></span>
						</div>
						<div class="mt-10">
							<input asp-for="Input.Password" type="text" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" required="" class="single-input form-control">
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
						</div>
						<br />
                        <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                        </div>
						<div class="input-group-icon mt-10">
						<br />
						<input type="submit" value="Login"  id="login-submit" class="genric-btn primary circle" />
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
