@model Zillow.Models.Address

@{
    ViewData["Title"] = "Edit";
}

<div class="bradcam_area bradcam_bg_1">
	<div class="container">
		<div class="row">
			<div class="col-xl-12">
				<div class="bradcam_text text-center">
					<h3>Edit Address</h3>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="sample-text-area">
	<div class="container box_1170">
		<div class="section-top-border">
			<div class="row">
				<div class="col-lg-8 col-md-8">
					<h3 class="mb-30">Update Address</h3>
					<form asp-action="Edit">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<input type="hidden" asp-for="Id" />
						<div class="mt-10">
							<input asp-for="Country" type="text" placeholder="Country" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Country'" required="" class="single-input form-control">
							<span asp-validation-for="Country" class="text-danger"></span>
						</div>
						<div class="mt-10">
							<input asp-for="City" type="text" placeholder="City" onfocus="this.placeholder = ''" onblur="this.placeholder = 'City'" required="" class="single-input form-control">
							<span asp-validation-for="City" class="text-danger"></span>
						</div>
						<br />
						<input type="submit" value="Edit" class="genric-btn primary circle" />
					</form>
					<br />
					<div>
						<a class="genric-btn default-border circle" asp-action="Index">Back to List</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>