@model Zillow.Models.RealEstate

@{
	ViewData["Title"] = "Edit";
}

<div class="bradcam_area bradcam_bg_1">
	<div class="container">
		<div class="row">
			<div class="col-xl-12">
				<div class="bradcam_text text-center">
					<h3>Edit Real Estate</h3>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="sample-text-area">
	<div class="container box_1170">
		<div class="section-top-border">
			<div class="row">
				<div class="col-lg-8 col-md-8">
					<h3 class="mb-30">Update Estate</h3>
					<form asp-action="Edit">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<input type="hidden" asp-for="Id" />
						<div class="mt-10">
							<input asp-for="Name" type="text" placeholder="Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Name'" required="" class="single-input form-control">
							<span asp-validation-for="Name" class="text-danger"></span>
						</div>
						<div class="mt-10">
							<input asp-for="Desc" type="text" placeholder="Description" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Description'" required="" class="single-input form-control">
							<span asp-validation-for="Desc" class="text-danger"></span>
						</div>
						<div class="input-group-icon mt-10">
							<div class="icon"><i class="fa fa-thumb-tack" aria-hidden="true"></i></div>
							<select asp-for="AddressId" class="form-control single-input" placeholder="Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Address'" required="" asp-items="ViewBag.AddressId"></select>
							<span asp-validation-for="AddressId" class="text-danger"></span>
						</div>
						<div class="input-group-icon mt-10">
							<select asp-for="CategoryId" class="form-control single-input" placeholder="Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Address'" required="" asp-items="ViewBag.CategoryId"></select>
							<span asp-validation-for="CategoryId" class="text-danger"></span>
						</div>
						<br />
						<input type="submit" value="Save" class="genric-btn primary circle" />
					</form>
					<br />
					<div>
						<a class="genric-btn default-border circle" asp-action="Index">Back to List</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
