@model Zillow.Models.Contract

@{
    ViewData["Title"] = "Edit";
}


<div class="bradcam_area bradcam_bg_1">
	<div class="container">
		<div class="row">
			<div class="col-xl-12">
				<div class="bradcam_text text-center">
					<h3>Edit Contracts</h3>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="sample-text-area">
	<div class="container box_1170">
		<div class="section-top-border">
			<div class="row">
				<div class="col-lg-8 col-md-8">
					<h3 class="mb-30">Update Contracts</h3>
					<form asp-action="Edit">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<input type="hidden" asp-for="Id" />
						<div class="mt-10">
							<select asp-for="Type" class="form-control single-input" placeholder="Type" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Type'" required="" asp-items="Html.GetEnumSelectList<TypeEnum>()"></select>
							
							<span asp-validation-for="Type" class="text-danger"></span>
						</div>
						<div class="mt-10">
							<input asp-for="Price" type="text" placeholder="Price" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Price'" required="" class="single-input form-control">
							<span asp-validation-for="Price" class="text-danger"></span>
						</div>
						<div class="input-group-icon mt-10">
							<div class="icon"><i class="fa fa-thumb-tack" aria-hidden="true"></i></div>
							<select asp-for="CustomerId" class="form-control single-input" placeholder="Customer" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Customer'" required="" asp-items="ViewBag.CustomerId"></select>
							<span asp-validation-for="CustomerId" class="text-danger"></span>
						</div>
						<div class="input-group-icon mt-10">
							<select asp-for="RealEstateId" class="form-control single-input" placeholder="Real Estate" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Real Estate'" required="" asp-items="ViewBag.RealEstateId"></select>
							<span asp-validation-for="RealEstateId" class="text-danger"></span>
						</div>
						<br />
						<input type="submit" value="Save" class="genric-btn primary circle" />
					</form>
					<br />
					<div>
						<a class="genric-btn default-border circle" asp-action="Index">Back to List</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>